.nav-bar {
  display: flex;
  width: 100%;
}

.navbar {
  border-bottom: 1px solid beige;
}

.search-bar {
  margin-top: 10px;
  margin-left: 32%;
  width: 30%;
  border-radius: 10px;
  height: 30px;
  text-align: center;
}
