.title {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.header {
  color: rgb(7, 24, 41);
  text-decoration: underline;
}

.video-player-wrapper {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}

.image-wrapper {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}

.player-list {
  margin: 0;
  padding: 0;
}

.player-list li {
  list-style: none;
  padding: 15px 35px;
  display: block;
  background: #cccc;
  cursor: pointer;
  text-align: left;
  margin-bottom: 1px;
}

li.selected {
  background: #03a9f4 !important;
}

.timeline-container {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  border: solid black 1px;
}

.timeline-line {
  width: 100%;
  height: 15px;
  background-color: red;
  border: solid black 1px;
  border-radius: 10px;
}

.start-time {
  float: left;
  width: 6%;
  height: 35px;
}

.start-time-text {
  text-align: left;
}

.end-time {
  float: right;
  width: 6%;
  height: 35px;
}

.end-time-text {
  text-align: right;
}

.latest-div {
  margin-top: 15px;
  width: 150px;
  height: 30px;
}

.latest-button {
  width: 149px;
  height: 28px;

}
